.react-multiple-carousel {
  &__arrow {
    min-width: 0;
    min-height: 0;
    width: rem(40px);
    height: rem(40px);
    background-color: transparent;
    border: rem(3px) solid #fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 0.7;
    }
    &::before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border-style: solid;
      margin: 0;
      padding: 0;
    }
    &--right {
      right: rem(6px);
      &::before {
        transform: translateX(rem(2px));
        border-width: rem(7px) 0 rem(7px) rem(14px);
        border-color: transparent transparent transparent #ffffff;
      }
    }
    &--left {
      left: auto;
      right: rem(57px);
      &::before {
        transform: translateX(rem(-2px));
        border-width: rem(7px) rem(14px) rem(7px) 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
}
.black-slider {
  .react-multi-carousel-list {
    padding-bottom: 20px;
  }
  .slider-item {
    max-width: 700px;
    overflow: hidden;
    &__title {
      font-size: rem(24px);
      color: rgb(36, 46, 58);
      font-weight: bold;
      margin-bottom: rem(25px);
    }
  }
  .react-multiple-carousel {
    &__arrow {
      border: rem(3px) solid #000000;
      &--right {
        &::before {
          border-color: transparent transparent transparent #000000;
        }
      }
      &--left {
        &::before {
          border-color: transparent #000000 transparent transparent;
        }
      }
    }
  }
}
