@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerUltraLight.eot');
  src: url('./fonts/muller/MullerUltraLight.woff2') format('woff2'),
    url('./fonts/muller/MullerUltraLight.woff') format('woff'),
    url('./fonts/muller/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerMedium.eot');
  src: url('./fonts/muller/MullerMedium.woff2') format('woff2'),
    url('./fonts/muller/MullerMedium.woff') format('woff'),
    url('./fonts/muller/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerRegular.eot');
  src:
    url('./fonts/muller/MullerRegular.woff2') format('woff2'),
    url('./fonts/muller/MullerRegular.woff') format('woff'),
    url('./fonts/muller/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./fonts/muller/MullerBold.eot');
  src: url('./fonts/muller/MullerBold.woff2') format('woff2'),
    url('./fonts/muller/MullerBold.woff') format('woff'),
    url('./fonts/muller/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
