*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none !important;
}
html {
  font-size: 16px;
}
body {
  font: 400 rem(16px) / 1.2 $Montserrat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  &-item.active {
    color: $red;
  }
}

strong {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.img-responsive {
  object-fit: cover;
  max-width: 100%;
}

.line {
  background-color: rgb(190, 190, 190);
  height: 1px;
  width: 100%;
}

.text {
  font-size: rem(14px);
  line-height: 1.8;
}

.h5 {
  font-size: rem(18px);
  font-weight: bold;
  line-height: 2;
}

.h2 {
  font-size: rem(30px);
  font-weight: bold;
  color: rgb(36, 46, 58);
}

ul {
  padding: 0;
  list-style: none;
}

.policy {
  font-size: rem(9px);
  color: $border;
  line-height: 1.111;
  position: relative;
  padding-left: rem(15px);
  &:before {
    content: '';
    position: absolute;
    top: rem(3px);
    left: 0;
    width: 8px;
    height: 8px;
    border: rem(1px) solid $border;
  }
  &:after {
    content: '';
    position: absolute;
    top: rem(3px);
    left: rem(2px);
    width: 4px;
    height: 7px;
    border-left: rem(1px) solid $red;
    border-top: rem(1px) solid $red;
    transform: rotate(220deg);
  }
}

.line-v {
  height: 100%;
  width: 1.2px;
  background: -webkit-linear-gradient(#ffffff, rgb(147, 147, 147), #ffffff);
  background: -moz-linear-gradient(#ffffff, rgb(147, 147, 147), #ffffff);
  background: -ms-linear-gradient(#ffffff, rgb(147, 147, 147), #ffffff);
  background: -o-linear-gradient(#ffffff, rgb(147, 147, 147), #ffffff);
  background: linear-gradient(#ffffff, rgb(147, 147, 147), #ffffff);
}

.fz-30 {
  font-size: rem(30px) !important;
}
.fz-36 {
  font-size: rem(36px) !important;
}
.fz-18 {
  font-size: rem(18px) !important;
}
