.vacancy-all {
  .quote {
    transform: translateY(0%);
    position: absolute;
    top: rem(-100px);
    right: 0;
    font-size: rem(18px);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: rem(25px);
  }
  @media (max-width: 767px) {
    h2.title {
      font-size: rem(24px);
      line-height: 1.4;
      span {
        font-size: rem(14px);
      }
      br {
        display: none;
      }
    }
    .quote {
      top: rem(-80px);
      padding: rem(15px);
      font-size: rem(14px);
    }
    .breadcrumbs {
      padding-top: rem(40px);
    }
    .advantage {
      &-item {
        font-size: rem(14px);
      }
    }
    .interests-bottom {
      font-size: rem(12px);
    }
  }
}

.vacancy {
  &__title {
    font-size: rem(48px);
    font-weight: bold;
  }
  &__card {
    .vacancy__title {
      font-size: rem(36px);
      color: rgb(147, 147, 147);
    }
    .vacancy__number {
      font-size: rem(18px);
    }
    .subtitle {
      font-size: rem(18px);
      color: rgb(0, 0, 0);
      font-weight: bold;
    }
    .vacancy-description {
      b {
        font-size: rem(18px);
        display: block;
      }
      ul {
        padding-left: rem(15px);
        li {
          list-style: disc;
          line-height: 1.6;
          font-size: rem(16px);
        }
      }
    }
    .photo {
      margin: 0 rem(30px) rem(30px) 0;
      max-width: 260px;
      height: 100%;
      object-fit: contain;
      img {
        object-fit: cover;
      }
    }
    .text-policy {
      font-size: 12px;
      color: $brownLight;
    }
    .custom-btn {
      padding: rem(14px) rem(35px);
    }
    .input {
      max-width: rem(500px);
      height: rem(61px);
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: rem(24px);
    }
    .photo {
      margin: 0 rem(20px) rem(20px) 0;
      max-width: 200px;
      height: 140px;
    }
  }
}

.vacancy-interests {
  background: $blueDark
    url('../../public/images/vacancies/all-vacancies-bg.jpg') no-repeat center
    top/cover;
  position: relative;
  margin-top: rem(150px);
  .no-vacancy {
    position: absolute;
    z-index: 1;
    max-width: rem(780px);
    width: 100%;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
    padding: 20px;
    .title {
      font-size: rem(30px);
      color: rgb(36, 46, 58);
      line-height: 1.2;
    }
  }
  .dark-bg {
    padding: rem(140px) rem(20px) rem(80px);
    background-color: rgba(0, 0, 0, 0.75);
  }
  .title {
    font-size: rem(34px);
    color: rgb(158, 158, 158);
    font-weight: bold;
    line-height: 1.6;
  }
  .list {
    &-item {
      position: relative;
      font-size: rem(16px);
      line-height: 1.5;
      padding-left: rem(30px);
      margin-bottom: rem(40px);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(10px);
        height: rem(45px);
        background-color: rgb(158, 158, 158);
      }
    }
  }
  @media (max-width: 767px) {
    .no-vacancy {
      max-width: rem(400px);
      .title {
        font-size: rem(24px);
      }
    }
  }
}

.vacancy-modal {
  margin: auto 30px;
  .input {
    max-width: initial;
    width: 100%;
    height: rem(60px);
  }
  .title {
    font-size: rem(26px);
    font-weight: bold;
  }
  button {
    width: 100%;
  }
  @media (max-width: 480px) {
    margin: auto;
  }
}

.dashed-red {
  border: 2.5px dashed $red;
  border-radius: rem(5px);
  padding: rem(30px);
  font-weight: bold;
  font-size: rem(18px);
  color: rgb(36, 46, 58);
  max-width: rem(370px);
  width: 100%;
  margin: 0 0 0 auto;
}

.map {
  &-wrap {
    background: $blueDark url('../../public/images/vacancies/working-map.jpg')
      no-repeat center top/cover;
    min-height: rem(620px);
    display: flex;
    align-items: flex-end;
  }
  &-text {
    font-size: rem(34px);
    color: rgb(193, 193, 193);
    font-weight: bold;
    line-height: 1.6;
    max-width: rem(260px);
    margin-bottom: rem(50px);
  }
}

.vacancy-card {
  max-width: rem(1180px);
  &-title {
    font-size: rem(24px);
    color: rgb(147, 147, 147);
    margin-bottom: rem(15px);
  }
  &-subtitle {
    font-size: rem(18px);
    color: rgb(0, 0, 0);
  }
  .vacancy-description {
    b {
      font-size: rem(18px);
      display: block;
      margin-bottom: rem(15px);
    }
    br {
      display: none;
    }
    ul {
      padding-left: rem(15px);
      li {
        padding-left: rem(20px);
        position: relative;
        font-size: rem(16px);
        line-height: 1.25;
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: calc(50% - 4px / 2);
          width: 4px;
          height: 4px;
          background-color: #000;
          border-radius: 50%;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .responsibility {
      margin-top: rem(20px);
      padding-top: rem(20px);
      border-top: 1px solid rgb(147, 147, 147);
    }
    .detail {
      color: $red;
      margin-bottom: rem(15px);
    }
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
