.modal {
  &-content {
    border-radius: rem(13px);
    background-color: rgb(254, 254, 254);
  }

  &-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    &:not(.small) {
      max-width: rem(1094px);
    }
    @media (max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
  &-backdrop {
    &.show {
      opacity: 0.85;
    }
  }
  &-header {
    border: 0;
    padding: 1rem 1rem 0 0;
  }
}

.text-danger {
  color: $red !important;
}
.bg-danger {
  background-color: $red !important;
}
.hover-controlled {
  .dropdown-menu {
    padding: 0;
    margin: 0;
    right: 0;
    border: none;
    background: transparent;
  }
  .dropdown-toggle {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 0;
    background-color: transparent !important;
    border: none;
    &:hover,
    &:focus,
    &:active {
      color: $red;
      background: transparent;
      text-decoration: underline;
    }
    &::after {
      content: none;
    }
  }
  .dropdown-item {
    min-width: rem(300px);
    display: block;
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    transition: all 0.3s linear;
    &:first-child {
      margin-top: rem(17px);
    }
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    &:hover {
      background-color: #ccc;
    }
    .menu-link {
      display: block;
      background-color: #fff;
      color: #000;
      position: relative;
      right: 0;
      left: 0;
      width: 100%;
      padding: rem(20px) rem(15px);
    }
  }
}

.white {
  .hover-controlled {
    .dropdown-toggle {
      color: #000;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
