.rc-slider {
  &-handle {
    border: solid 2px $red;
    &:hover {
      border-color: $red;
    }
    &:active {
      border-color: $red;
      box-shadow: 0 0 5px $red;
    }
  }
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: $red;
  box-shadow: 0 0 0 5px $red;
}

.rc-slider-handle-click-focused:focus {
  border-color: $red;
  box-shadow: unset;
}
