.catalog {
  padding-top: rem(220px);
  .title {
    font-size: rem(34px);
    color: rgb(36, 46, 58);
    font-weight: bold;
  }
  @media (max-width: 992px) {
    padding-top: rem(160px);
  }
}

.server-bg {
  background: $blueDark url('../../public/images/catalog/server-bg.jpg')
    no-repeat center top/cover;
  .options {
    max-width: rem(500px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 rem(40px);
    margin: 0;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.8;
      z-index: 1;
    }
    li {
      position: relative;
      z-index: 2;
      font-size: rem(18px);
      line-height: 1.4;
      padding-left: rem(80px);
      min-height: rem(60px);
      display: flex;
      align-items: center;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - rem(50px) / 2);
        background: url('../../public/images/icons/price.png') no-repeat center
          top/cover;
        width: rem(50px);
        height: rem(50px);
      }
    }
  }
}

.choose-dark {
  background: $blueDark url('../../public/images/catalog/dark-bg.jpg') no-repeat
    center top/cover;
}

.wrapper-manufacturer {
  width: auto;
}

.tabs-container {
  background: $brownLight url('../../public/images/catalog/tabs-bg.jpg')
    no-repeat center top/cover;
  .nav-tabs {
    .nav-item {
      min-width: rem(220px);
      text-align: center;
      cursor: pointer;
      border-width: 0.66px;
      border-color: rgb(149, 149, 149);
      border-style: solid;
      background-color: rgb(238, 238, 241);

      &.active {
        background-color: rgb(221, 229, 236);
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.33);
      }
    }
  }
  @media (max-width: 992px) {
    .nav-tabs {
      .nav-item {
        min-width: rem(180px);
      }
    }
  }
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 90.16px 7.84px rgba(0, 0, 0, 0.1);
  border-radius: rem(15px);
  max-width: rem(440px);
  border: none;
  position: relative;
  .price {
    .actual {
      color: $red;
      font-size: rem(30px);
      font-weight: bold;
      white-space: nowrap;
    }
    .old {
      color: $brownLight;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $red;
        transform: rotate(-6deg);
      }
    }
  }
  .availability {
    color: $green;
    &.false {
      color: $brownLight;
    }
  }
  ul {
    font-size: rem(12px);
    &.details > li {
      color: $brownLight;
    }
  }

  .sale {
    background-color: $red;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: rem(40px);
    padding: rem(10px) rem(20px);
  }
  .custom-btn {
    min-width: 12rem;
  }
  @media (max-width: 992px) {
    .availability {
      font-size: rem(12px);
      text-align: right;
    }
  }
  @media (max-width: 768px) {
    .price {
      width: 100%;
      .actual {
        font-size: rem(20px);
        margin-bottom: rem(10px);
      }
      & > div {
        text-align: center;
      }
    }
  }
}

.catalog-menu {
  min-width: rem(1280px);
  width: 75vw;
  max-height: rem(600px);
  overflow: hidden;
  margin: 0 auto;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 90.16px 7.84px rgba(0, 0, 0, 0.23);
  background-color: rgb(255, 255, 255);
  margin: 15px 0 0;
  .controls {
    max-width: rem(315px);
    width: 100%;
    background-color: #f0f0f0;
    .nav-pills {
      margin: rem(40px) 0;
      border-bottom: 0;
      .nav-link {
        color: #7b7b7b;
        border: none;
        border-radius: 0;
        width: 100%;
        cursor: pointer;
        font-weight: normal;
        padding: rem(17px) rem(12px);
        &.active {
          background-color: #fff;
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
    .btn {
      background-color: #fff;
      border: 1px solid #e1e1e1;
      border-left: 0;
    }
  }
  .content {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
    .vendor-logo {
      max-width: rem(150px);
      max-height: rem(150px);
      overflow: hidden;
    }
    a {
      color: #000;
      font-weight: normal;
      padding: 0;
    }
  }
  .wrapper-image {
    height: rem(380px);
  }
  @media (max-width: 1200px) {
    min-width: auto;
    width: 98vw;
    width: calc(100vw - 30px);
  }
}

.section__for-from-course {
  width: auto;
  @media (max-width: 768px) {
    .tags .tag {
      width: 100%;
      max-width: rem(160px);
    }
  }
}

.catalog_courses {
  .form-choose-server .dropdown-select {
    max-width: rem(320px);
    width: 100%;
  }

  @media (max-width: 480px) {
    .form-choose-server .dropdown-select {
      max-width: none;
      margin-right: 0;
    }
  }
}
