@import 'style/variables';

.form-consultant {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 90.16px 7.84px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .input {
    width: 100%;
    max-width: none;
  }
  .manager {
    line-height: 1.5;
    font-size: rem(16px);
    &__post {
      color: rgb(36, 46, 58);
      max-width: rem(750px);
    }
    &__name {
      color: rgb(118, 118, 118);
    }
  }
  .consultant {
    &-desktop {
      display: block;
    }
    &-mobile {
      display: none;
    }
  }
  .policy {
    font-size: rem(14px);
    color: rgb(195, 193, 193);
    line-height: 1.286;
  }
  @media (max-width: 767px) {
    .consultant {
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
        max-width: rem(200px);
        min-width: rem(135px);
        margin-right: rem(15px);
      }
    }
    .manager__block {
      display: flex;
    }
  }
  br {
    display: none;
  }
}

.form-search {
  background-color: #fff;
  max-width: rem(740px);
  overflow: initial;
  .search {
    border: 1px solid $border;
    max-width: none;
    margin: rem(10px) 0;
    padding: rem(4px) rem(5px);
    input {
      border: none;
      max-width: none;
      width: 100%;
    }
  }
}

.form-choose-server {
  background-color: rgb(231, 231, 231);
  .dropdown-select {
    background-color: #fff;
    margin-right: 30px;
    max-width: rem(250px);
    .Dropdown-control {
      border-radius: 0;
    }
  }
}

.simple-checkbox {
  font-size: rem(14px);
  color: rgb(29, 79, 68);
  font-weight: bold;
  line-height: 1;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
  }
  span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: rem(25px);
  }
  span:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 13px;
    height: 13px;
    border: rem(1px) solid $border;
  }
  span:after {
    content: '';
    position: absolute;
    top: calc(50% - 15px / 2);
    left: rem(4px);
    width: 7px;
    height: 12px;
    border-left: rem(1px) solid $red;
    border-top: rem(1px) solid $red;
    transform: rotate(220deg);
    display: none;
  }
  input:checked + span::after {
    display: block;
  }
}

.custom-checkbox {
  span {
    width: rem(180px);
    height: rem(60px);
    border: rem(3px) solid $border;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(7px);
    text-align: center;
    font-weight: bold;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input:checked + span {
    border: rem(3px) solid $red;
    color: $red;
  }
  @media (max-width: 419px) {
    span {
      width: rem(148px);
      font-size: rem(12px);
    }
  }
}

.d-a-d {
  background-color: #a8bed2;
  height: 115px;
  input[type='file'] {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .dashed {
    border: dashed $gray rem(4px);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
  .drop-here {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    color: $gray;
    font-size: rem(24px);
  }
  .preview {
    font-weight: bold;
    text-decoration: underline;
  }
}

.coupon-form {
  width: 100%;
  .soc-item {
    cursor: pointer;
    min-height: rem(80px);
    padding: rem(2px);
    &.selected {
      border: 1px solid $brownLight;
    }
  }
  .img-wrapper {
    background-color: #242e3a;
  }
  .shaded {
    min-width: rem(150px);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: block;
      font-size: 2.5rem;
      text-transform: uppercase;
      white-space: nowrap;
      transform: rotate(-90deg);
    }
  }
  @media (max-width: 768px) {
    .title {
      font-size: rem(24px);
    }
    .img-wrapper {
      margin-bottom: rem(20px);
    }
    .shaded {
      min-width: rem(80px);
      span {
        font-size: rem(24px);
        top: calc(50% + 200px / 2);
        left: -50%;
      }
    }
  }
}

.red-list {
  &-item {
    position: relative;
    padding-left: rem(20px);
    font-size: rem(14px);
    color: rgb(36, 46, 58);
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      top: calc(50% - 7px / 2);
      width: rem(7px);
      height: rem(7px);
      border-radius: 50%;
      background-color: $red;
    }
  }
}
