@import 'style/variables';

.catalog-journals-header {
  padding-top: rem(193px);
  background-color: $blueDark;
}
.section__catalog-journals {
  border-bottom: 2px solid #ccc;
}
.catalog-journals-breadcrumbs {
  font-size: rem(14px);
  font-family: $Muller;
  .breadcrumb {
    margin: 0;
    padding: rem(40px) 0 rem(32px);
  }
  a {
    color: $black !important;
  }
  .active {
    color: #b1b1b1;
  }
}
.title__section--catalog-journals {
  font-size: rem(30px);
  margin-bottom: rem(40px);
}
.journals {
  margin: 0 rem(-75px) rem(53px);
  & > div {
    padding: 0 rem(75px);
    margin-bottom: rem(52px);
  }
}
.journal {
  &__title {
    color: #242e3a;
    font-size: rem(24px);
    margin-bottom: rem(15px);
    font-weight: 700;
  }
  &__preview {
    margin-bottom: rem(24px);
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      max-height: rem(550px);
    }
  }
}
.btn__red--journal {
  min-width: rem(130px);
  padding: rem(6px) rem(5px);
  border-radius: rem(4px);
  background-color: $red;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    box-shadow: 1px 1px 5px $red;
  }
}
.link {
  text-decoration: underline;
  margin: rem(10px) 0;
}
.our-vendors-title {
  font-size: rem(24px);
  font-family: $Muller;
  margin-bottom: rem(30px);
}
.our-vendors {
  margin-bottom: rem(85px);
  & > div {
    flex: 0 0 14.285714%;
    max-width: 14.285714%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(15px);
    margin-bottom: rem(19px);
    img {
      display: block;
      max-width: 100%;
    }
  }
}
@media (max-width: 1599px) {
  .catalog-journals-header {
    padding-top: rem(209px);
  }
}
@media (max-width: 1199px) {
  .journals {
    margin: 0 rem(-25px) rem(53px);
    & > div {
      padding: 0 rem(25px);
    }
  }
  .our-vendors {
    justify-content: center;
    & > div {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
@media (max-width: 767px) {
  .catalog-journals-header {
    padding-top: rem(76px);
  }
  .journals {
    & > div {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .our-vendors {
    & > div {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  .journal__preview {
    margin-bottom: rem(10px);
  }
  .link {
    margin: rem(20px) 0;
  }
}
