.solution-card {
  min-height: rem(300px);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: rem(10px);
  padding: rem(20px);
  &__title {
    font-size: 1.4rem;
  }
  &__description {
    position: relative;
    max-height: rem(115px);
    margin-bottom: auto;
    padding-top: rem(15px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  &__line {
    width: rem(96px);
    height: 2px;
  }
  a.solution-card__link {
    background-color: $red;
    color: white;
    border-radius: rem(4px);
    border: 1px solid $red;
    padding: rem(8px);
    text-decoration: none;
    &:hover {
      color: $red;
      background-color: transparent;
    }
  }
}
